<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie-edge' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contract</title>
  </head>
  <style>
    .heading { text-align: center; margin-top: 5%; font-family: "Franklin Gothic
    Medium", "Arial Narrow", Arial, sans-serif; color: green; } .image {
    display: flex; justify-content: center; }
    .btn {
  background-color: transparent;
  border: none;
  color: green;
  float: right;
  padding: 0px 36px 20px;
  font-size: 36px;
  cursor: pointer;
}
  </style>
  <body>
    <h1 class='heading'>Contract</h1>

      {{! owner_father_name: 'tariq',
  owner_address: 'lahore garden',
  price: '800000',
  area: 'jaranwala road',
  propertytype: 'house',
  owner_company: 'atthetech',
  status: 'for sale',
  address: 'lahore garden',
  country: 'pakistan',
  owner_name: 'talha',
  phoneNumber: '312131212', }}
      {{!-- {{nationality_Id}} --}}

      <p>
        Lease contract On
        {{created_at}},it was released between:

        <h1>1- Nadid General Trading and Contracting Company.</h1>

        <h3>She is represented in this contract by {{owner_name}}</h3>
        -
        <h3>Nationality : {{country}}</h3>
        BM 295071200246.<p></p>Whose Address is: {{owner_address}}
        <br></br>
        Lessor (first party).

        <h1>2- A- S & S International Electrical Contracting Company.</h1>

        B - Mr. Muhammad Abdullah Muhammad Al-Baridi - Kuwaiti nationality - BM
        258121600182 and residing in Al-Shamiya, Block 7, Street 50, Building 5,
        the following number: 10402791, phone number: 99601777 C - Mr. Stewart
        Alexander Katiparambil. Indian nationality. B.M. 277022801193, residing
        in Mangaf, Block 4, Street 60, Building No. 8, to 18357235, phone number
        50779882 jointly and jointly lessee (second party) (Preface) Whereas the
        first party owns the usufruct of plot No. (150) east of Al-Ahmadi with
        an area of (4500 square meters) and since the second party wishes to
        rent shop No. (33) with an area of 68 square meters to (14768228) ground
        floor only, an agreement and consensual agreement has been reached
        between the two parties As follows : 1- The preceding preamble is an
        integral part of this contract. 2- It was agreed between the two parties
        that the purpose of using the rented property be (lathe), and the second
        party is committed to using the property according to what it was
        prepared for, and the second party is not entitled to use the rented
        property as housing for workers under any circumstances. to be continued
        / 2
      </p>

      <button class="btn" onclick="window.print()"><i class="fa fa-print"></i></button>

    </div>
  </body>
</html>